gputools
h5py
huggingface-hub
imagecodecs
imageio
importlib-metadata
kiwisolver
llvmlite
Mako
Markdown
MarkupSafe
matplotlib
mkl-fft
mkl-service
monai
networkx
numba
numexpr
numpy
oauthlib
opencv-python
packaging
pandas
Pillow
scikit-image
scipy
stardist
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tifffile
timm
torch
torchaudio
torchvision
tqdm
